<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apikey" value=""/>
		<add key="secretapikey" value=""/>
		<add key="DomainToUpdate" value=""/>
		<add key="RecordTypeToUpdate" value="A"/>
		<add key="PorkbunPing" value="https://porkbun.com/api/json/v3/ping"/>
		<add key="PorkbunDNSRequest" value="https://porkbun.com/api/json/v3/dns/retrieve/"/>
		<add key="PorkbunDNSEdit" value="https://porkbun.com/api/json/v3/dns/edit/"/>
		<add key="VerboseDebugging" value="False"/>
	</appSettings>
</configuration>